#project{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5rem auto;

}

.projectTitle{
    font-size: 3rem;
margin-bottom: 1rem;
font-family: 'Roboto Mono', monospace; 
color: #000000;
    
}

.projectDesc{
    font-weight: 400;
    font-size: 1rem;
    margin-right: 20%;
    max-width: 45rem;
    padding: 0 2rem;
    font-family: 'Satisfy', cursive;
}

.projectBars {
        margin: 1.5rem;
        width: 100vw;
        max-width: 80%;
        text-align: left;
        
        }
.projectBar{

            display: flex;
            margin: 0.5rem;
            padding: 1.5rem 2rem;
            border-radius: 0.5rem;

            }
.projectBar_1{

    display:flex;
    margin-left: 1rem;
    margin-top: -1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #F5F5DC;
    width: 30rem;
    height: 12rem;

    }

.projectBar_2{
        display: flex;
        margin-left: 2rem;
        margin-top: -1.5rem;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        background: #F5F5DC;
        width: 30rem;
    height: 12rem;
                             
    }

.projectBar_3{
            
            display: flex;
            margin-left: 2rem;
            margin-top: -1.5rem;
            padding: 1.5rem 2rem;
            border-radius: 0.5rem;
            background: #F5F5DC;
            width: 30rem;
            height: 12rem;
            
        }
    
.projectBarImg {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    }

    .projectBarText_H1{
        font-size: 1.6rem; 
        font-weight: 200;
        font-family: Tahoma, Verdana;
    }
    .projectBarText_H2{
        font-size: 1rem; 
        font-weight: 50;
        font-family: Tahoma, Verdana;
    }
.projectBarText{
    font-size: 0.9rem; 
    font-weight: 200;
    font-family: Tahoma, Verdana;
    
    }

    @media screen and (max-width:990px){
        .projectBar_1{
            height: 15rem;
        }
        .projectBar_2{
            height: 15rem;
        }
        .projectBar_3{
            height: 15rem;
        }
    }
 @media screen and (max-width:720px){
        projectBarText>p {
        font-size: 2vw;
        
        }
    }
 @media screen and (max-width:480px) {
        .projectBarText>p {
        font-size: 3vW;
        }
        .projectBarImg{
        height: 2.25rem;
        width: 2.25rem;
        }
        .projectBarText>h2 {
        font-size: 5vw;
        }
    }
    


    