

#skill{
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: -4rem auto;
    background-image: url('./akillBack.png') ;
        background-size: 80%;
        background-position: left;
        background-position-y: -17rem;
        background-repeat: no-repeat;
        

}




.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'sans-serif';
    
    
}

.skillDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
    font-family: 'sans-serif';
    
}

.skillBars {
        margin: 1.5rem;
        width: 100vw;
        max-width: 40%;
        align-items: center;
        text-align: left;
       
        

        }


    

.skillBarText{
    font-size: 0.9rem; 
    font-weight: 200;
    font-family: 'Arial Narrow Bold', sans-serif;
    }

    @media screen and (max-width: 1150px) {
        
        #skill{
           
                background-size: 80%;
                background-position: fixed;
                background-position-y: -2rem;
               
                
        
        }
    
      }

      @media screen and (max-width: 990px) {
        
        #skill{
           
                
                background-position-y: -4rem;
               
                
        
        }
    
      }

      @media only screen and (max-width: 600px) {
        /* Styles for small screens */
        #skill {
            background-size: 100%;
        }
        
        .skillBars {
            max-width: 90%;
        }
    }
    
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        /* Styles for medium screens */
        #skill {
            background-size: 90%;
        }
    }
    
    @media only screen and (min-width: 1025px) {
        /* Styles for large screens */
        #skill {
            background-size: 80%;
        }
    }
    


    