
#contactpage {
min-height: calc(100vh- 4rem);
width: 100vW;
max-width: 60rem;
margin: -4rem auto;
text-align: center;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.contactPageTitle{
font-size: 3rem;
margin-bottom: 1rem;
font-family: 'Roboto Mono', monospace; 
color: #000000;
}

.contactDesc{
padding: 1rem;
font-size: medium;
font-weight: 300;
font-family: 'sans-serif' ;

}

.contactForm{
margin: 3%;
margin-left: 3%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 90vw;
max-width: 60rem;

}


.name, .email,.msg{
font-size: medium;
width: 100%;
max-width: 40rem;
margin: 0.5rem;
padding: 0.5rem 1rem;
color: rgb(255, 255, 255);
border: none;
border-radius: 0.5rem;
background: #e5b851;
font-weight: 300;
font-family: 'sans-serif' ;

}

.submitBtn{
background : rgb(255, 197, 7);
border: none;
border-radius: 0.5rem;
margin: 2rem;
padding: 0.75rem 3.5rem;

font-family: 'sans-serif' ;

}

.links {
    display: flex;
    flex-wrap: wrap;
}
.link {

    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 1rem;
   
    
}

@media only screen and (max-width: 320px) {
    

   
    .contactPageTitle {
        font-size: 18px;
        
    }

    .link{
        height: 2rem;
        width: 2rem;
        margin: 0 0.4rem;
    }
    .submitBtn{
       
        margin: 0.2rem;
        margin-bottom: 2.7rem;
        padding: 0.55rem 0;
        padding-left: 0.7rem;
        padding-right: 3.5rem;
        height: 2.5rem;
        width: 2rem;
        
        
        
        }
        .contactForm{
            margin: 3%;
            margin-left: 18%;
            width: 60vw;
        
        }
        .name, .email, .msg{

            font-size: small;
            width: 100%;
            max-width: 40rem;
            margin: 0.5rem;
            padding: 0.2rem 1rem;
            
            }
           

}

@media only screen and (min-width: 321px) and (max-width: 376px) {
    .contactPageTitle {
        font-size: 24px;

    } 
    
    

    .link{
        height: 2.3rem;
        width: 2.3rem;
        margin: 0 0.4rem;
    }
    .submitBtn{
       
        margin: 0.2rem;
        margin-bottom: 2.7rem;
        padding: 0.55rem 0;
        padding-left: 0.7rem;
        padding-right: 3.5rem;
        height: 2.5rem;
        width: 2rem;
        
        
        
        }
        .contactForm{
           
            margin-left: 15%;
            width: 70vw;
        
        }
        .name, .email, .msg{

            font-size: small;
            padding: 0.2rem 1rem;
            
            }
   


} 
@media only screen and (min-width: 377px) and (max-width: 426px) {
    .contactPageTitle {
        font-size: 24px;
    }



    .link{
        height: 2.3rem;
        width: 2.3rem;
        margin: 0 0.4rem;
    }
    .submitBtn{
       
        margin: 0.2rem;
        margin-bottom: 2.7rem;
        padding: 0.55rem 0;
        padding-left: 0.7rem;
        padding-right: 3.5rem;
        height: 2.5rem;
        width: 2rem;
        
        
        
        }
        .contactForm{
           
            margin-left: 15%;
            width: 70vw;
        
        }
        .name, .email, .msg{

            font-size: small;
            padding: 0.2rem 1rem;
            
            }

    
}
@media only screen and (min-width: 427px) and (max-width: 599px) {
    .contactPageTitle {
        font-size: 32px;
    }

}

@media only screen and (min-width: 602px) and (max-width: 707px) {
    .contactPageTitle {
        font-size: 38px;
    }

}



